

html,
body,
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}
.el-menu a
{
  text-decoration:none

}
p{
  color:#828585
}
.el-divider--horizontal{
  margin: 0!important;
}